// Congrats.scss

.congrats-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.congrats-card {
    max-width: 400px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .congrats-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .congrats-content {
        padding: 1rem;

        .congrats-title {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .congrats-description {
            color: var(--grey, #9699AA);
        }
    }
}